*{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(Gradient.png);
    background-size: cover;
}
header{
    height: 100vh;
    width: 100vw;

}

.navbar{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

.navbar .logo{
    color: rgb(147, 94, 237);
    font-weight: bold;
}

.navbar a{
    color: white;
}

a:hover{
 color: rgb(147, 94, 237);
    ;
}
.navbar .logo{
    font-size: 2rem;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;   

}

.navbar .nav-links ul li{
    margin: 0 35px;
}

.navbar .nav-links ul li.active a{
    color: rgb(147, 94, 237);
    font-weight: 600;
}
.colo{
    color: rgb(147, 94, 237);
}

.auteur{
    color: white;
}